@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  padding: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
}
a {
  text-decoration: none;
  color: inherit;
}
.links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}
